/* . class, # id */

body {
  background-color: #323243;
  font-family: sans-serif;
  display: flex;
  flex-flow: column;
  height: 95%
}

table {
  text-align: center;
  margin: auto;
}

td {
  width: 8em;
  padding-top: 0.5em;
}

#grid_container {
  position: relative;
  flex: 1 1 auto;
}

.game_container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: white;
  outline: 1px black solid;
  transform: scale(0.333, 0.333);
  transform-origin: 0 0;
  z-index: 0;
  transition: all 1s;
  text-align: center;
  overflow: hidden;
}

#title {
  font-size: 30px;
  flex: 0 1 50px;
  color: #ffffec;
}

#meta_container {
  flex: 0 1 50px;
}

.coins {
  font-size: 3em;
}

.cps {
  font-size: 2em;
}
